.header{
   margin: 0 auto;
}
.location{
    font-size: 40px;
    display: block;
}
.date{
  font-size: 30px;
  margin-top: 10px;
}
.weather{
    width: 600px;
    font-size: 30px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: hsla(0,0%,100%,.5);
}
.rain{
    display: block;
    padding-top: 10px;
}
.other{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.else{
    display: flex;
    padding: 10px;
    margin: 10px 0;
}
.icon{
    width: 100px;
}
.icon svg{
    width: 65%;
    height: 100%;
}
.txt{
    font-size: 20px;
    margin-left: 10px;
}
